body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

.google-fonts {
  /* ここにGoogle Fontsを指定します */
  font-family: "Josefin Sans", sans-serif;
}

#root {
  font-size: 20px;
}

#basic p {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.text-skyblue {
  color: skyblue;
}

.text-pink {
    /* 以下はRGBで色を指定しています */
  color: rgb(255, 192, 203);
}

